<div ref="scrollCon" @DOMMouseScroll="handlescroll" @mousewheel="handlescroll" class="tags-outer-scroll-con">
    <div class="close-all-tag-con">
        <Dropdown transfer @on-click="handleTagsOption">
            <Button size="small" type="primary">
          标签选项
          <Icon type="arrow-down-b"></Icon>
        </Button>
            <DropdownMenu slot="list">
                <DropdownItem name="clearAll">关闭所有</DropdownItem>
                <DropdownItem name="clearOthers">关闭其他</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </div>
    <div ref="scrollBody" class="tags-inner-scroll-body" :style="{left: tagBodyLeft + 'px'}">
        <transition-group name="taglist-moving-animation">
            <Tag type="dot"
                 v-for="(item, index) in tagsList"
                 ref="tagsPageOpened"
                 :key="item.id"
                 :name="item.id"
                 @on-close="closePage(item)"
                 @click.native="linkTo(item)"
                 :closable="item.name==='main'?false:true"
                 :color="currentRouter?(item.id===currentRouter.id?'blue':'default'):'blue'">
                {{ item.title }}
            </Tag>
        </transition-group>
    </div>
</div>
